[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
uvicorn = "*"

[packages]
fastapi = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
pydantic = "*"
requests = "*"

[requires]
python_version = "3.7"
